<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="realsense_namespace" default="down_rgbd" />

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg name="manager" default="object_localization_nodelet_manager" />

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" launch-prefix="$(arg launch_prefix)">
      <param name="num_worker_threads" value="16" />
    </node>

    <node name="realsense_color_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 -0.09 -0.04 0.5 0.5 -0.5 0.5 fcu_$(arg uav_name) $(arg uav_name)/$(arg realsense_namespace)/link" />

  </group>
    
  <!-- Realsense high accuracy -->
  <include file="$(find realsense)/launch/uav.launch">
    <arg name="manager"   value="$(arg manager)" />
    <arg name="respawn"   value="true" />
    <arg name="namespace" value="$(arg realsense_namespace)" />
  </include>

  <!-- Object detection -->
  <include file="$(find object_detect)/launch/object_detect.launch">
    <arg name="standalone"  value="false" />
    <arg name="manager"     value="$(arg manager)" />
  </include>

  <!-- single object localization -->
  <include file="$(find balloon_filter)/launch/choose_balloon.launch">
    <arg name="standalone" value="false" />
    <arg name="manager"    value="$(arg manager)" />
  </include>
  
</launch>
